.Formulario1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-style:solid;
  border-color: black;
  padding: 3rem 2rem;
  box-shadow:
  4px 4px #3a86ff;
}

.inputFormulario1 {
    width: 70%;
    padding: 1rem ;
}


.buttonEnviar {

    background-color: #3a86ff;
    color: white;
    width: 40%;
    padding: 1rem 1rem;

}