.Formulario2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-style: solid;
  border-color: black;
  padding: 3rem 2rem;
  box-shadow: 4px 4px #3a86ff;
}

.buttonRejuvenecer {

    background-color: #3a86ff;
    color: white;
    
}