* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #caf0f8;
}

body{
    display: flex;
    flex-direction: column;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 5rem;
    background-color: #6441a5;
    color: black;

}

.logo{
    background-color: #6441a5;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

nav{
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    padding: 0rem 1rem;
    align-items: center;
    background-color: #6441a5;
}
nav a{
    background-color: #6441a5;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-style: italic;
}

.texto-bienvenida{
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto-bienvenida p{
    margin: 4rem 2rem;
    background-color: #6441a5;
    padding: 3rem 2rem;
    border-radius: 3rem;
    color: white;
    font-size: 20px;
    width: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    margin: 0rem 0rem;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 4rem;


}

.form-image{
    width: 30rem;
    height: 40rem;
    border-radius: 5rem;
}



.box{
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    align-items: center;
    background-color: #6441a5;
    width: 30rem;
    height: 40rem;
    border-radius: 2rem;
    border-bottom-right-radius: 7rem;
}
.form-box{
    display: flex;
    flex-direction: column;
    background-color: #6441a5;
    border-radius: 5rem;
    gap: 0.6rem;
    
}

.form-box h1{
    background-color: #6441a5;
    color: white;
    font-weight: bold;
}

.form-box label {
    background-color: #6441a5;
    color: white;
}

.form-box input {
    border-style: none;
}

.button-submit {

    color:#6441a5;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    
}
.as{
    display: flex;
    background-color: #6441a5;
}

.fromGroup {

    display: flex;
    flex-direction: column;
}