#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.login {

  display: flex;
  border-color: white;
  background-color: #888;
  padding: 8rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 3rem;
}

.form {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  padding: 1rem;

}

input {
  padding: 1.3rem 2rem;
  border-radius: 2rem;
  border-style: none;
  font-size: 1.4rem;
  width: 14rem;
}

.button-submit {

  background-color: white;
  color: black ;
  cursor: pointer;
  font-size: 1.5rem;
  width: 22rem;

}

.errorBox {

  border-color: red;
  background-color: #ff7676;
  color: red;
  width: 20rem;

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/**********LOGIN*****************/




